@model BookMarket.Models.Category

@{
    ViewData["Title"] = "Категорії";
}

<h1>Категорії</h1>

<form class="form-inline" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="Name" type="text" class="form-control" placeholder="Назва"/>
    <span asp-validation-for="Name" class="text-danger"></span>
    <input type="submit" class="btn btn-success" value="Добавити" />
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in ViewBag.Categories as IEnumerable<BookMarket.Models.Category>) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
